{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'common/navbar_auth.html' %}
{% endblock %}


{% block full_page %}

<div class="auth-page">
    <div class="auth-card">

        <h2>LOGIN</h2>
        <p class="auth-subtitle">EduSphere</p>

        {% if messages %}
            {% for message in messages %}
                <div class="login-alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="auth-form-group">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="auth-form-group" style="position: relative;">
                <input type="password" name="password" id="loginPassword" required>
                    <label>Password</label>

                <span class="toggle-password"
                onclick="togglePassword('loginPassword', this)"
                >👁</span>
            </div>


            <button type="submit" class="auth-btn">
                Login
            </button>

            <div class="auth-links-buttons">

                <a href="{% url 'password_reset' %}" class="auth-link-btn secondary">
                    Forgot Password
                </a>

                <a href="{% url 'register' %}" class="auth-link-btn outline">
                    Don't Have an Account? Sign Up
                </a>

            </div>

        </form>

    </div>
</div>

<script>
function togglePassword(inputId, icon) {
    const input = document.getElementById(inputId);

    if (input.type === "password") {
        input.type = "text";
        icon.textContent = "🙈";
    } else {
        input.type = "password";
        icon.textContent = "👁";
    }
}
</script>
<script>
  setTimeout(function () {
    const alerts = document.querySelectorAll('.login-alert');
    alerts.forEach(function(alert) {
      alert.style.transition = "opacity 0.5s ease, transform 0.5s ease";
      alert.style.opacity = "0";
      alert.style.transform = "translateY(-5px)";
      setTimeout(() => alert.remove(), 500);
    });
  }, 1000); // 2 seconds
</script>


{% endblock %}

