{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'common/navbar_auth.html' %}
{% endblock %}

{% block full_page %}

<div class="auth-page">
    <div class="auth-card">

        <h2>Set New Password</h2>
        <p class="auth-subtitle">
            Enter your new password below
        </p>

        <form method="post">
            {% csrf_token %}

            <!-- New Password -->
            <div class="auth-form-group">
                <input type="password" name="new_password1" required>
                <label>New Password</label>
            </div>

            <!-- Confirm Password -->
            <div class="auth-form-group">
                <input type="password" name="new_password2" required>
                <label>Confirm Password</label>
            </div>

            <button type="submit" class="auth-btn">
                Change Password
            </button>

        </form>

    </div>
</div>

{% endblock %}
