{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'common/navbar_auth.html' %}
{% endblock %}

{% block full_page %}

<div class="auth-page">
    <div class="auth-card">

        <h2>Email Sent</h2>
        <p class="auth-subtitle">
            If an account exists with this email,  
            you will receive a password reset link shortly.
        </p>

        <div class="auth-links-buttons">
            <a href="{% url 'login' %}" class="auth-link-btn outline">
                Back to Login
            </a>
        </div>

    </div>
</div>

{% endblock %}
