{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'common/navbar_auth.html' %}
{% endblock %}

{% block full_page %}

<div class="auth-page">
    <div class="auth-card">

        <h2>Reset Password</h2>
        <p class="auth-subtitle">
            Enter your email to receive reset link
        </p>

        <form method="post">
            {% csrf_token %}

            <!-- Email Input -->
            <div class="auth-form-group">
                <input
                    type="email"
                    name="email"
                    required
                    autocomplete="email"
                >
                <label>Email</label>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="auth-btn">
                Send Reset Link
            </button>

            <!-- Back link -->
            <div class="auth-links-buttons">
                <a href="{% url 'login' %}" class="auth-link-btn outline">
                    Back to Login
                </a>
            </div>

        </form>

    </div>
</div>

{% endblock %}

